/*
******************
* GENERAL
******************
*/
@font-face {
    font-family: 'almoni-tzar';
    font-style: normal;
    font-weight: 100;
    src: url(./fonts/almoni-tzar-aaa-100.woff);    
}
@font-face {
    font-family: 'almoni-tzar-bold';    
    src: url(./fonts/almoni-tzar-aaa-700.woff);   
}
@font-face {
    font-family: 'afek-regular';
    font-style: normal;
    font-weight: 100;
    src: url(./fonts/afek-regular-aaa.otf);    
}
@font-face {
    font-family: 'afek-bold';    
    src: url(./fonts/afek-bold-aaa.woff);   
}
*{
    box-sizing: border-box;
    
}

h1{
    font-family: 'almoni-tzar-bold';     
    font-size: 2.18vw;
}
h2{
    font-size: 1.875vw;
}
h3{
    font-family: 'almoni-tzar-bold';     
    font-size: 1.45vw;
}
h4{
    font-family: 'afek-regular';
    font-size: 1.25vw
}
h5{
    font-family: 'afek-regular';
    font-size: 1.14vw;
}
h6{
    font-family: 'afek-regular';
    font-size: 1.041vw;    
}
h1,h2,h3,h4,h5,h6{
    direction: rtl;
}
a button, a span, a:link{
    border:none;
    outline: none;
    text-decoration: none;
    color: white;
}
.clear{
    clear: both;
}
.content-box{
    width: 66%;
    height: 100%;
    margin: auto;
    padding-top: 5.57vw;
    padding-bottom: 5.57vw;
}
.display-flex{
    display:flex;
}
.registration{
    width: 9.06vw;
    height: 2.91vw;
    background-color: #0065ff;
    border: none;
    color: white;
    font-family: 'almoni-tzar';
    font-size: 1.25vw;
}
/* .bold{
    text-decoration: bold!important;
} */
/*
******************
* header
******************
*/  
.header{
    width: 100%;
    height: 86px;
    background: black;
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index: 4;
}
.header .content-box{
    padding-top: 0px;
    padding-bottom: 0px;
}
.header .display-flex{
    align-items: center;
    justify-content: space-between;
}  
.header div{
    display: flex;
    align-items: center;
} 

.header h6{
    margin-left: 1vw;
    color: white;
} 
/*
******************
* invitation
******************
*/
.invitation{
    margin-top: 86px;
    width: 100%;
    height: 37.3958vw;
    background-image: linear-gradient(210deg, #ff318a, #ff7158);
    color: white;
}
.invitation .content-box h1{
   font-size: 3.33vw;
}
.invitation .content-box h2{
    font-family: 'almoni-tzar'; 
    margin-top: 4vw;
}
.invitation .content-box h4{
    font-family: 'almoni-tzar';  
}

.invitation span{
    text-decoration:underline;
}  
/*
******************
* description
******************
*/
.why-important{
    width: 100%;
    height: auto;
    padding-top: 5.57vw;
    padding-bottom: 5.57vw;
}
.container-for-video{
    flex-basis:40%;
}
.description{
    flex-basis:60%;
}
.description h1{
    display: block;
    border-right: 3px solid #0069fb; 
    padding-right: 1.45vw;
}
.description h4{
    display: block;
    border-right: 3px solid #0069fb; 
    padding-right: 1.45vw;
}
/*
******************
* what-you-get
******************
*/
.what-you-get{
    width: 100%;
    height: 21.6666vw;
    background: #0069fb;
}
.what-you-get .content-box{
    position: relative;
    height: auto;
}
.you-get{
    flex-basis: 50%;
}
.what-you-get h1{
    flex-basis: 50%;
    color: white;
}
.you-get hr{ 
    height: 1px;
    width: 100%;
    background-color: black;
    margin-top: 1vw;
    margin-bottom: 1vw; 
}
.rectangle{
    width: 100%;
    height: 20px;;
}
.rectangle-1{
    width: 40%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
/*
******************
* class-help-in
******************
*/
.class-help-in{
    width: 100%;
    height: 30vw; 
}
.class-help-in h1{
    margin-right: 1.6vw;
}
.help-in-description{
    display: flex;
    height: 90%;
}
.help-box{
    flex: 1 1 0;
    margin: 1.6vw;
    border-right: 3px solid;
    border-image: linear-gradient(#ff318a, #ff7158) 1;
}
.help-box h3, .help-box h6{
    margin-right: 1.5vw;
}
.help-box h3{
    margin-top: 1.5vw;
}
.help-box h6{
    margin-top: 1vw;
}
/*
******************
* cost
******************
*/
.cost{
    width: 100%;
    height: 31.875vw;
}
.cost .content-box {
    background-color: #f5f5f5;
    padding-top: 0px;
    padding-bottom: 0px;
}
.cost-photo, .cost-description{
    flex: 1 1 0;
}
.cost-description{
    margin-top:5.2vw;
    text-align: right;
}
.cost-description div{
    margin-right: 5.7vw;
}
.cost-description div h4{
    margin-left: 3vw; 
}
.cost-description .registration{
    margin-top: 2.76vw;
}
.cost-photo{
    display: flex;
    position: relative;
}
.side-rectangle-big{
    width: 21.875vw;
    opacity: 0.4;
}
.anime-img{
    position: absolute;
    right: 0px;
    margin-top:5.2vw;
}
/*
******************
* program
******************
*/
.program{
    width: 100%;
    text-align: center;
}
table{
    margin: 2vw;
}
table ul li{
    font-family: 'afek-regular';
    font-size: 1.041vw; 
}
table td{
    padding: 2vw;
}
.table-and-img table {
   width: 70%;
}
.group-28{
    height:  70vw;
}
/*
******************
* tomer-sharon
******************
*/
.tomer-sharon{
    width: 100%;
    height: 41.82vw;
    background-image:url('./img/researching.png'); 
    background-size: cover;
    color: white;
}
.tomer-sharon .display-flex{
    flex-direction: column;
    align-items: flex-end;
}
.about-t-sh{
    width: 50%;
}
.tomer-sharon h6{
    margin-top: 2vw;
    line-height: 1.5vw;
}
.icon-twitter{
    font-size: 2vw;
}
.social-icons{
    margin-top: 2vw;
}
/*
******************
* finally-in-israel
******************
*/
.finally-in-israel{
    width: 100%;
    height: 20vw;
}
.world-box, .finally-in-israel h1{
    width: 22.44vw;
}
.finally-in-israel .display-flex{
    justify-content: space-between;
}
.finally-in-israel img{
   width:  9.3vw;
}
/*
******************
* map
******************
*/
#map{
    width: 100%;
    height: 25.52vw;
    display: flex;
    position: relative;
}
.address-box{
    width: 18.82vw;
    background: #d4d4d4;
}
.map .content-box{
    padding-top: 0vw;
}
.address-box img{ 
    width: 100%;
    margin-top: 2.55vw;
}  
.address-box h2{
    font-family: 'almoni-tzar-bold'; 
    margin-top: 2.239vw;
}  
.address-box h6{
    margin-top: 2vw;
}
.address-box h2, .address-box h6{
   padding-right: 1.7vw;
   padding-left: 1.7vw;
}
/*
******************
* arrival
******************
*/
.arrival{
    width: 100%;
    height: 30.2vw;  
}
.arrival .content-box{
    border-style: solid;
    border-width: 3px;
    border-image-source: linear-gradient(30deg, #ff4978, #ff8348);
    border-image-slice: 1;
    justify-content: flex-end;
}
.isntructions{
    text-align: right;
    width: 30%;
    margin-right: 2vw;
    position: relative;
    margin-top: 4vw;
}
.isntructions img{
    width:90%;
}
.bus-or-car{
    width: 30%;
    margin-right:5.6vw;
}
.choose-bus-or-car{
    width: 100%;
}
.choose-bus-or-car,.car, .bus{
    display: flex;
    justify-content: flex-end;
}
.car, .bus{
    border-bottom: 3px solid black;
    padding-bottom: 1vw;
}
.car img{
    width: 1.3vw;
    height: 1.5vw;
    margin-left: 1vw;
}
.bus img{
    width: 1.3vw; 
    height: 1.6vw;
    margin-left: 1vw; 
}
.car{
    flex-basis: 30%;
    cursor: pointer;
    position: relative;
}
.bus{
    margin-right: 2vw;
    flex-basis: 70%;
    cursor: pointer;
    color:gray;
}
.content-bus-or-car ul li{
    font-family: 'afek-regular';
    font-size: 1.14vw;
    text-align: right;
}
.content-bus-or-car ul li span{
    font-family: 'afek-bold';
    font-size: 1.14vw;
}
.content-for-car h4:nth-child(2){
    font-family: 'afek-bold'; 
}
.isntructions button{
    width: 9.06vw;
    height: 2.91vw;
    background-color: white;
    border: 3px solid #0065ff;
    color: #0065ff;
    font-family: 'almoni-tzar-bold';
    font-size: 1.25vw;
}
.info-for-bus{
    display: none;
}
/*
******************
* text-us
******************
*/
.text-us{
    margin-top: 5.57vw;
    width: 100%;
    height: 18.5vw;
    background-image: linear-gradient(13deg, #ff4978, #ff8348);
    color: white;
}
.text-us .content-box{
    background-image:url('./img/group-18.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
}
/*
******************
* create
******************
*/
.create{
    width: 100%;
    height: 31.09vw;
    background-image:url('./img/create.png');
    background-size: cover;
    color:white;
    position: relative;
}
.create:after{
    background: black;
    opacity: 0.8;
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top:0px;
    bottom: 0px;
    left: 0px;
    right:0px;
}
.create .content-box{
    position: relative;
}
.create .content-box div{
    position: absolute;
    z-index: 3;
    width: 50%;
}
.create .display-flex{
    justify-content: flex-end;
}
/*
******************
* footer
******************
*/
.footer{
    width: 100%;
    height: 36.6vw;
    background: black;
    color: white; 
}
.footer h4{
    font-family: 'almoni-tzar-bold'; 
}
.choose-create h6, .choose-create h4{
    width: 12vw;  
}
.choose-create{
    margin-top: 1vw;
}
.create-option img{
    height: 10.468vw;
    width: 12vw;
}
.footer h4{
    margin-top: 1vw;
}
.footer .display-flex{
    justify-content: space-between;
}
.footer hr{
    height: 1px;
    margin-top: 4vw;
    background-color: #D8D8D8;
}    